* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #114b5f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
    color: white;
    margin-bottom: 40px;
  }

  h3 {
    margin-bottom: 10px;
  }
}

.portfolio-main {
  display: flex;
  flex-direction: row;
  gap: 20px;


  .PortfolioLeft,
  .PortfolioRight {
    background: white;
    ;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .PortfolioLeft {
    max-width: 650px;
  }

}

.portfolioSelection {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(128, 128, 128, 0.356);

  .p-Type,
  .p-Select {
    width: 50%;
  }

  .p-Type {
    p {
      margin: 10px 0;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 10px;
    }
  }

  .p-Select {

    border-left: 1px solid rgba(114, 114, 114, 0.288);
    padding-left: 25px;

    select {
      width: 100%;
      height: 35px;

      option {
        padding: 10px;
        margin: 15px;
      }
    }
  }


}

.btnContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;


  button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
  }

  button:nth-child(2) {
    color: white;
    background-color: #1a936f;
  }
}

.progressContainer {
  margin: 25px 0;
  border-bottom: 1px dotted rgba(128, 128, 128, 0.356);


  .percentage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;

    h2 {
      color: #569b65;

      span {
        font-size: 15px;
        color: black;
        font-weight: 500;

      }
    }
  }

  .barWrapper {
    width: 100%;
    height: 35px;
    margin: 25px 0;
    background: #dcf1ef;
    border-radius: 5px;

    .barInner {
      background-color: #569b65;
      width: 20%;
      height: 35px;
      border-radius: 5px 0 0 5px;
    }
  }
}

.ShareContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;

  .shareInner {
    width: 45%;
    display: flex;
    flex-direction: row;
    gap: 10px;

    .colorLogo {
      width: 25px;
      height: 25px;
      background-color: #569b65;
      border-radius: 5px;
    }

    .shareText {
      p {
        font-weight: bold;

        span {
          font-weight: 400;
        }
      }
    }
  }

  .shareInner:nth-child(2) .colorLogo {
    background-color: #305252;
  }

  .shareInner:nth-child(3) .colorLogo {
    background-color: #dcf1ef;
  }

  .shareInner:nth-child(4) .colorLogo {
    background-color: #af90a9;
  }

  .shareInner:nth-child(5) .colorLogo {
    background-color: #ffc07f;
  }
}

.PortfolioRight {

  .StatsContainer {
    height: 100%;
    width: 340px;
    display: flex;
    flex-direction: column;

    .statsHeader {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgba(128, 128, 128, 0.349);


      span {
        font-size: 12px;
        color: gray;
      }
    }

    table {
      thead {
        font-weight: bold;
      }

      td {
        border-spacing: 35px;
        height: 50px;
      }

      tr td:nth-child(1) {
        text-decoration: underline;
      }

      tr td:nth-child(1):hover {
        opacity: .7;
      }

      tr td:nth-child(1):hover::after {
        content: "Vangurad Put together this collection of short term US treasurey bonds to track the US short term treasury bond index";
        max-width: 290px;
        color: black;
        background-color: white;
        border-radius: 5px;
        text-decoration: none;
        font-size: 14px;
        position: absolute;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid rgba(128, 128, 128, 0.349);
        margin: 10px;
        opacity: 1;
      }

    }

    span:nth-child(3) {
      margin-top: 25px;
      font-size: 14px;
    }

    span:nth-child(3):hover {
      text-decoration: underline;
    }
  }
}